* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f3f4;
  font-family: sans-serif;
}
.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid orangered;
  z-index: 2;
}
.logo {
  height: 40px;
  margin: 5px 10px;
  margin-left: 20px;
}
.form-control {
  margin-left: 20px;
  margin-top: 9px;
  border: 1px solid orangered !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}
.input-group-text {
  background: orangered !important;
  border: 1px solid orangered !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}
.search-box {
  display: inline-flex;
  width: 60%;
}
.fa-search {
  color: #fff;
}
.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}
.menu-bar ul {
  display: inline-flex;
  float: right;
}
.menu-bar ul li {
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: orangered;
  cursor: pointer;
}
.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.cart-items {
  position: absolute;
  top: 10px;
  right: 315px;
  font-size: 12px;
  background: #fff;
  padding: 0 5px;
  border-radius: 30%;
  color: orangered;
}
.fa-cart-plus {
  margin-right: 10px;
}
@media only screen and (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
  .cart-items {
    position: absolute;
    top: 68px;
    right: 520px;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
    border-radius: 30%;
    color: orangered;
  }
}

/* --------------------Side-Menu---------------------- */
.side-menu {
  height: 650px;
  width: 15%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #ddd;
}
.side-menu ul {
  margin-left: 10px;
}
.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.side-menu ul li:hover {
  color: orangered;
}
.side-menu ul li ul {
  display: none;
  z-index: 10;
  top: 77px;
}
.side-menu ul li:hover ul {
  display: block;
  height: 400px;
  margin-left: 14%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.fa-angle-right {
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}
#menu-btn,
#close-btn {
  font-size: 30px;
  margin: 10px;
  color: orangered;
  display: none;
}
@media only screen and (max-width: 980px) {
  .side-menu {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    background: #f1f3f4;
    display: none;
  }
  .side-menu ul li ul {
    top: 133px;
  }
  .side-menu ul li:hover ul {
    margin-left: 31%;
  }
  #menu-btn {
    display: block;
  }
}

/* ---------------------Slider---------------------- */
.slider {
  width: 85%;
  margin-left: 15%;
  padding: 0 10px;
}
.carousel {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators {
  z-index: 1 !important;
}
@media only screen and (max-width: 980px) {
  .slider {
    width: 100%;
    margin-left: 0;
  }
}

/* ----------------Featured-Categories CSS------------------- */
.featured-categories {
  margin: 50px 0;
}
.featured-categories img {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}
.featured-categories img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

/* -----------------On Sale Product-------------------- */
.title-box {
  background-color: orangered;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2 {
  font-size: 24px;
}
.title-box::after {
  content: "";
  border-top: 40px solid orangered;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}

/* ------------------Product Top CSS-------------------- */
.product-top img {
  width: 100%;
}
.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}
.overlay-right .fa {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.05s;
}
@media only screen and (max-width: 980px) {
  .product-top img {
    width: 70%;
    padding-left: 120px;
  }
}

/* ------------------Product Bottom CSS-------------------- */
.product-bottom .fa {
  color: orangered;
  font-size: 10px;
}
.product-bottom h3 {
  font-size: 15px;
  font-weight: bold;
}
.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

/* ------------------New Product CSS-------------------- */
.new-products {
  margin: 50px 0;
}

/* ------------------Footer-------------------- */
.footer {
  margin-top: 50px;
  background: #000;
  color: #fff;
}
.footer h1 {
  font-size: 18px;
  margin: 20px 0;
}
.footer p {
  font-size: 14px;
}
.copyright {
  margin-bottom: -80px;
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}
.footer hr {
  margin-top: 10px;
  background-color: #ccc;
}
.footer .row .fa {
  padding-right: 30px;
}

/* ------------------Single Product-------------------- */
.single-product {
  margin-top: 70px;
}
.new-arrival {
  background: green;
  width: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}
.col-md-7 h2 {
  color: #555;
}
.single-product .fa {
  color: orangered;
}
.single-product .price {
  color: orangered;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}
.single-product input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}
.single-product .btn-primary {
  background: orangered !important;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  box-shadow: none !important;
}

/* ------------------Product Description------------------- */
.product-description h6 {
  margin-top: 50px;
  color: orangered;
}
.product-description p {
  margin-top: 30px;
}
.product-description hr {
  margin-bottom: 50px;
}
